$ukari-color: #F7B82C;
$labo-color: #119EE9;
$dennou-color: #B9B9B9;
$steppin-color: #FE644D;
$ukari-black-color: #1A1A1C;
$text-color:#E1E1E2;

.ukari {
  color: $ukari-color;
}

.salon {
  color: $ukari-color;
}


.labo {
  color: $labo-color;
}

.steppinup {
  color: $steppin-color;
}

.dennoutai {
  color: $dennou-color;
}
